---
---
body {
	background-color: white;
	background: none;
}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}
#container {
	background: none;
}

@import "{{ site.theme }}";

